body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    width: 410px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    width: 100px;
    justify-content: space-between;
    width: 500px;
   
}
  
.board{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin-bottom: 20px;
}
